/* Body */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

:root {
    --background-color: hsl(0, 0%, 95%);
    --font-size: 15px;
    --text-transform: uppercase;

}

body {
    background-color: var(--background-color);
    place-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;
    padding: 0px;
}


/* Navbar */
.navbar {
    background-color: var(--background-color);
    text-align: center;
    text-transform: var(--text-transform);
    font-family: 'Lexend Deca';
}

.navbar a:hover {
    color: hsl(0, 8%, 60%);
}


/* boxes */
.container .box-container {
    display: flex;
    width: 900px;
    padding: 20px 20px;
    height: 100vh;
}

.box {
    color: hsla(0, 0%, 100%, 0.75);
    height: 450px;
    flex-basis: 1000px;
}

.box img {
    margin-top: 5px;
}

h1 {
    text-transform: var(--text-transform);
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display';
}

h1,
p {
    padding: 10px;
    max-width: 230px;
}

h1,
p,
input {
    margin-left: 10px;
}

p {
    line-height: 1.5;
    margin-bottom: 60px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca';
    font-size: var(--font-size);
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.suvs {
    background-color: hsl(184, 100%, 22%);

}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.sedans input:hover {
    background-color: hsl(31, 77%, 52%);
    border: hsl(0, 0%, 95%) solid 2px;
    color: hsl(0, 0%, 95%);
}

.suvs input:hover {
    background-color: hsl(184, 100%, 22%);
    border: hsl(0, 0%, 95%) solid 2px;
    color: hsl(0, 0%, 95%);
}

.luxury input:hover {
    background-color: hsl(179, 100%, 13%);
    border: hsl(0, 0%, 95%) solid 2px;
    color: hsl(0, 0%, 95%);
}

.box input {
    width: 50%;
    padding: 12px;
    margin-bottom: 5px;
    border-radius: 50px;
    font-size: var(--font-size);
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca';
    font-size: var(--font-size);
}

.sedans input {
    border: hsl(31, 77%, 52%) solid 5px;
    color: hsl(31, 77%, 52%);
}

.suvs input {
    border: hsl(184, 100%, 22%) solid 5px;
    color: hsl(184, 100%, 22%);

}

.luxury input {
    border: hsl(179, 100%, 13%) solid 5px;
    color: hsl(179, 100%, 13%);
}

/* Responsive Design */
@media screen and (max-width:935px) {
    .container {
        width: 100vw;
    }

    .box-container {
        width: 900px;
    }

    .sedans {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0px;
    }

    .luxury {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0px;
    }
}

@media screen and (max-width:872px) {

    /* Box */
    .box-container {
        width: 500px;
        flex-direction: column;
        align-items: center;
    }

    .box {
        flex-basis: 400px;
    }
}

@media screen and (max-width:295px) {
    .container {
        width: 290px;
    }

    .container .box-container {
        display: flex;
        flex-direction: column;
    }


    h1 {
        font-size: 20px;
    }

    h1,
    p {
        max-width: 200px;
    }

    p {
        margin-bottom: 0px;
        font-size: 10px;
    }


    .box input {
        width: 50%;
        border-radius: 50px;
        font-size: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    .box a {
        text-decoration: none;
    }
}

@media screen and (max-width:240px) {
    .container {
        width: 100vw;
    }

    .box {
        /* height:100%; */
        width: 200px;
    }
}